.home {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5.5%;
  left: 5%;
  transform: translate(-50%,-50%);
}
.h1-Register {
  font-size: 3rem;
  margin-bottom: 2px;
  margin-top: 15px;
  text-align: center;
}
.Student {
  position: absolute;
  width: 35%;
  height: 55%;
  border-radius: 50%;
  border:1px solid #D8D8D8;
  background: none;
  outline: none;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
}
.Student:hover {
  cursor: pointer;
  background-color: #2ecc71;
}
.Stu_png {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Teacher {
  position: absolute;
  width: 35%;
  height: 55%;
  border-radius: 50%;
  border:1px solid #D8D8D8;
  background: none;
  outline: none;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
}
.Teacher:hover {
  cursor: pointer;
  background-color: #2ecc71;
}
.Tea_png {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
p {
  font-size: 20px;
}
.p_1 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%,-50%);
}
.aaaa {
  font-size: 3rem;
}
.p_2 {
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%,-50%);
  width: 320px;
}